<div class="post">
  <div class="post-heading">
    <div class="post-title">
      <a class="login-link" href="/blog/{{p.key().id()}}#">{{p.subject}}</a>
    </div>

    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>
  <br>
  <a class="login-link" href="/blog/editpost/{{p.key().id()}}#">edit </a>
  <a class="login-link" href="/blog/deletepost/{{p.key().id()}}#">delete</a>
  <br><br><br>
</div>
<a class="login-link" href="/">All-posts</a>
